@import '../../../styles/mixins/mixins';

.cookiePolicy {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  width: 85%;
  max-width: 1140px;
  padding: 16px 20px;
  background-color: var(--background-default);
  box-shadow: 2px 5px 20px rgba(191, 191, 191, 0.25);
  border-radius: 16px;
  border: 1px solid var(--background-second);
  &.active {
    display: flex;
  }

  @media (max-width: 992px) {
    @include hideSvg;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
    @include hideSvg;

    p {
      font-size: 12px;
      line-height: 18px;
      padding-right: 24px;
    }
  }

  @media (max-width: 450px) {
    width: 91%;
    padding: 16px 20px;
  }
}

.textWrapper {
  display: flex;
  vertical-align: center;
  @media (max-width: 992px) {
    @include hideSvg;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
    @include hideSvg;

    p {
      font-size: 12px;
      line-height: 18px;
      padding-right: 22px;
    }
  }
}

.wrapper {
  min-height: 74px;
  height: auto;
  opacity: 1;
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 4;
  display: none;
  &.active {
    display: flex;
  }
}

.textContent {
  margin-left: 16px;
  display: flex;
  align-items: center;

  p {
    color: var(--text-black);
  }

  @media (max-width: 992px) {
    margin-left: 0;
  }

  @media (max-width: 767px) {
    margin-left: 0;
  }
}

.buttonWrapper {
  padding-left: 24px;
  button {
    font-size: 14px;

    span:first-child {
      margin: 0 auto;
    }
  }

  @media (max-width: 767px) {
    padding-left: 0;
  }
}
