.errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 70px;
  min-height: calc(100vh - 60px - 360px);
  justify-content: center;

  @media screen and (max-width: 992px) {
    min-height: calc(100vh - 50px - 360px);
    padding-top: 80px;
    margin-bottom: 80px;
  }

  .buttonWrapper {
    padding-top: 30px;
    padding-bottom: 10px;

    @media screen and (max-width: 768px) {
      padding-top: 31px;
      padding-bottom: 4px;
    }
  }

  svg {
    display: block;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      width: 328px;
      height: 239px;
      margin-bottom: 16px;
    }
  }

  a {
    color: #008dd0;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 2.3rem;
    text-decoration: none;
  }
}

.textComponent {
  max-width: 333px;
  padding-top: 5px;

  @media screen and (max-width: 768px) {
    padding-top: 8px;
    max-width: 328px;
  }
}
