.mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  padding: 64px 138px 110px;
  box-sizing: border-box;
  margin: 0;
  @media (max-width: 992px) {
    padding: 64px 36px 110px;
  }
  @media (max-width: 768px) {
    padding: 46px 0px 79px;
  }
}

.informationPersData {
  padding-top: 46px;
}

.informationPersDataText {
  padding-top: 51px;
  @media (max-width: 768px) {
    padding-top: 42px;
  }
}

.padding54 {
  padding-top: 54px;
}

.padding20 {
  padding-top: 20px;
}

.padding20SP {
  padding-top: 20px;
  @media (max-width: 768px) {
    padding-top: 10px;
  }
}

.padding100 {
  padding-top: 100px;
  @media (max-width: 768px) {
    padding-top: 70px;
  }
}

.padding42 {
  padding-top: 42px;
  @media (max-width: 768px) {
    padding-top: 46px;
  }
}

.mainPaddingTop {
  padding-top: 72px;
}

.secondaryPaddingTop {
  padding-top: 26px;
}

.thirdPaddingTop {
  padding-top: 40px;
}

.fourthPaddingTop {
  padding-top: 66px;
}

.fivePadding {
  padding-top: 30px;
}

.ulListWrapper ul {
  padding-left: 16px;
  margin: 0;
  padding-top: 5px;
  @media (max-width: 768px) {
    padding-top: 16px;
    padding-left: 12px;
  }

  li {
    padding-top: 7px;
    list-style-type: disc;
    font-size: 20px;
    padding-left: 16px;
    padding-bottom: 7px;
  }
}

.lastPaddingTop {
  padding-top: 56px;
}
