.mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainsignup {
  padding: 60px 0;
  .mbnone {
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .lineheight21 {
    line-height: 21px;
  }
  Button.btnsignin {
    border-radius: 84px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    padding: 12px 30px;
    background-color: #fe7a39;
    border: 1px solid #fe7a39;
    color: #fff;
    width: 100%;
  }
  Button.btnsignin:focus {
    box-shadow: none;
    background-color: #fe7a39;
    border-color: #fe7a39;
  }
  .padding40 {
    padding: 40px;
  }
  .marbtm15 {
    margin-bottom: 15px;
  }
  .lightext {
    font-weight: 200;
  }
  .headingtext {
    font-weight: 200;
    margin-bottom: 20px;
    @media (max-width: 767px) {
      text-align: center;
      font-size: 28px;
    }
  }
  .papercarde {
    padding: 40px;
    background: #ffffff;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
  }
  .themetext {
    color: #fe7a39;
    &:focus {
      color: #fe7a39;
    }
  }
  .centerflex {
    display: flex;
    align-items: center;
  }
  .centertext {
    text-align: center;
  }
  .rightext {
    text-align: right;
  }
  .displaynone {
    display: none;
  }
  .divider {
    position: relative;
    padding: 20px 0px;
    text-align: center;
    span {
      z-index: 1;
      background-color: #fff;
      padding: 0px 17px;
      line-height: 19px;
      position: relative;
      color: #cfdfef;
    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      height: 2px;
      margin-top: 11px;
      background: #cfdfef;
    }
  }
  .btngoogle {
    button {
      width: 100%;
      background-color: #4285f4 !important;
      border-radius: 7px !important;
      color: #fff !important;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      letter-spacing: 0.5px;
      -moz-box-pack: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      box-shadow: none !important;
      & > div {
        margin-right: 10px;
        background: #fff;
        padding: 0;
        border-radius: 2px;
        max-width: 40px;
        float: left !important;
        position: absolute;
        left: 0px;
        width: 36px;
        height: 37px;
        border-radius: 4px 0 0 4px;
        top: 0;
      }
    }
  }
  .formerControler {
    .passtextbox {
      width: 100%;
    }
    label + div::before,
    label + div::after {
      display: none;
    }
    label {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #434f56;
      padding-bottom: 8px;
      display: block;
    }
    input {
      height: 48px;
      border: 1px solid #9bb0be;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: transparent;
      padding-left: 14px;
    }
    input + fieldset {
      border: none;
    }
    .errors {
      color: red;
      padding-top: 10px;
      display: table;
    }
    .btneyes {
      position: absolute;
      right: 13px;
    }
  }
}
