.mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainadmin{ 
  padding: 40px 0; 
  .mbnone{
    @media (max-width:1024px){
      display: none;
    }
  }

}
